{% extends "base.html" %}

{% block title %} My Profile {% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endblock %}

{% block header %}
    {% with %}
        {% set active_page = 'profile' %}
        {% set menu = menu %}
        {% include 'header.html' %}
    {% endwith %}
{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="orders">

        {% with %}
            {% set orders = orders %}
            {% include 'orders_list.html' %}
        {% endwith %}

    </div>

{% endblock %}